{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}
    <header id="home-header">
        <div id="header-img"></div>
        <h1>SUBLI'IMMO</h1>
        <h2>l'agence immobilière 100%  en ligne</h2>
    </header>

    <main class="container-fluid p-5">
        <div class="row">
            <div class="col-12">
                <h2>Logements</h2>
            </div>
        
        </div>


        <div class="row">
            
            {# une partie des maisons #}

           {#  {{ dump(maisons) }} #}

          
                        
                <h5 class="card-title">{{ apropos.texte }}</h5>
          
        </div>

        <div class="row">
            
            <ul>
                {% for technologie in technologies %}
                    <li> {{ technologie.langage }} </li>
                    <li> {{ technologie.img }} </li>
                {% endfor %}
            </ul>


            <ul>
                {% for onecms in cms %}
                    <li> {{ onecms.langage }} </li>
                    <li> {{ onecms.img }} </li>
                {% endfor %}
            </ul>


            <ul>
                {% for framework in frameworks %}
                    <li> {{ framework.langage }} </li>
                    <li> {{ framework.img }} </li>
                {% endfor %}
            </ul>

        <div class="row">

            {{ form(contactForm) }}
                        
               
          
        </div>
        
    
    </main>

{% endblock %}
